name: Docker build CI Dual

on:
  push:
    paths:
      - dual/Dockerfile
  pull_request:
    paths:
      - dual/Dockerfile
  workflow_dispatch:

jobs:
   build:
    runs-on: ubuntu-latest
    name: Set up Docker
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./dual/Dockerfile
          pull: false
          push: false